# Eclipse stuff
.classpath
.project
.settings

# NetBeans
/nbproject
/build.xml

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/target
/*/target
/*.jardesc

# Mac filesystem dust
.DS_Store